<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h1>会員一覧</h1>

      <table class="table">
        <thead>
          <tr>
            <th>会員ID</th>
            <th>名前</th>
            <th>メール</th>
            <th>アイコン</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @members.each do |member| %>
          <tr>
            <td><%= member.id %></td>
            <td><%= link_to member.name, admins_member_path(member) %></td>
            <td><%= member.email %></td>
            <td><%= attachment_image_tag member, :profile_image, fallback: "no_image", class: "member-icon" %></td>
            <td><% if member.is_active? %>
                <span class="text_active">有効</span>
                <% else %>
                <span class="text_invalid">退会済み</span>
                <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>

