<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">

      <%= render 'members/posts/index', post: @post %>
      <div class="col-xs-12">
        <%= paginate @posts %>
      </div>

      </div>
  </div>
</div>