<h2>検索結果です</h2>
　<% if @post_or_member == "1" %>
    <%= render 'members/posts/index', post: @post %>
  <% elsif @post_or_member == "2" %>
    <table>
      <% @members.each do |member| %>
      <thead>
        <tr>
          <th></th>
          <th><%= link_to member_path(member) do %><%= member.name %></th>
          <% end %>
        </tr>
      </thead>
      <% end %>
    </table>
<% else %>
<% end %>