/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 @import "font-awesome-sprockets";
 @import "font-awesome";

 @import "slick-theme";
 @import "slick";

 @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300&display=swap');


//共通//
.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 80px;
    padding-right: 90px;
}
@media screen and (max-width: 768px) {
  .container-fluid {
    padding-left: 30px;
    padding-right: 30px;
  }
}

body {
  padding-top: 70px;
  color: #765c47;
  font-family:'Avenir','Arial','Noto Sans JP', sans-serif;
  a {
  text-align: center;
  color: #765c47;
  }
  a:hover {
    color: #69821b;
    background-color: transparent;
  }
  h1, h2 {
  margin-top: 50px;
  margin-bottom: 30px;
  }
  h1 {
  font-size: 30px;
  }
  h2 {
  font-size: 24px;
  }
  img {
  max-width: 100%;
  }
  .btn {
  background-color: #c97586;
  border-color: #c97586;
  color: #fff;
  margin: 10px 0;
  }
  .btn-danger {
  background-color: #f6ad49;
  border-color: #f6ad49;
  color: #fff;
  margin: 10px;
  }
  table {
    margin: 30px 0;
      th,td {
        width: auto;
        padding: 15px 0;
    }
  }
}

@media (min-width: 768px) {
  body {
    padding-top: 0;
  }
}
@media (min-width: 768px) {
  body {
    margin-left: 250px;
  }
}

textarea {
  width: 450px;
  height: 150px;
}
@media screen and (max-width: 768px) {
  textarea {
    width: 350px;
    height: 100px;
  }
}

.search {
  margin: 40px 30px;
  font-size: 11px;
}

//kaminari//
.pagination>li>a {
  border: none;
  color: #765c47;
}
.pagination>.active>a {
  background: #f2a0a1;
  border-radius: 15px;
}
.pagination>li>a:hover {
  border-radius: 15px;
}

//画像関係//
.about-top-img {
  margin-top: 50px;
}
.member-icon {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
}
.season-link-s img {
  width: 95px;
  height: auto;
}
.food-img, .event-img {
  width: 270px;
  height: 270px;
  object-fit: cover;
}
.food-img:hover {
  opacity: 0.6;
}

@media screen and (max-width: 768px) {
  .food-img, .event-img {
    width: 400px;
    height: 400px;
    object-fit: cover;
  }
}
.event-img {
  width: auto;
  height: 240px;

}
@media screen and (max-width: 768px) {
  .event-img {
    width: auto;
    height: 320px;
  }
}
.profile-menu img {
  width: 17px;
}


//sign_in up//
.field {
  margin-bottom: 20px;
}
.actions {
  margin: 20px 0;
}

 //top//
.category, .calendar {
  margin-top: 5em;
}

//top slider//
.slider {
  max-width: 70%;
  margin: 0 auto;
  padding: 0;
}
.slider img{
  max-width: 100%;
}
.slider-area {
  background: #fff;
  overflow: hidden;
}
.slider-items {
  max-width: 100%;
  margin: 100px auto;
  padding: 35px 0;
}
.slider-items .slick-arrow {
  opacity: 0;
  transition-duration: 0.3s;
}
.slider-items:hover .slick-arrow {
  opacity: 1;
}
.slider .slick-list {
  overflow: visible; //横幅いっぱいに//
}
.slider .slick-track {}
.slider .slick-slide {
  padding: 0 5px;
  opacity: .5;  //不透明度//
  transition-duration: 0.3s;
}
.slider .slick-slide.slick-current {
  opacity: 1;
}
//top sliderここまで//


//about//
.about-top {
  text-align: center;
  line-height: 2;
  margin-top: 30px;
  margin-bottom: 30px;
}
.about-section{
  padding-left: 35px;
  padding-right: 20px;
  margin-top: 80px;
  .about-text {
    line-height: 2;
  }
  img {
    padding: 0;
  }
}

 @media screen and (max-width: 768px) {
  .about-section {
    display: flex;
    flex-direction: column;
  }
  .about-innner {
    order: 1;
  }
  .about-img {
    order: 2;
  }
  .about p br {
    display: none;
  }
  .about-section{
    padding-left: 0;
    padding-right: 10px;
    margin-top: 20px;
  }
}

//post-index//
.post-block {
  margin: 0.5em;
  background: white;
  border-top: solid 3px #69821b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
  display: flex;
  tbody{
    padding: 6px;
    margin-left: auto;
    margin-right: auto;
    td {
      padding: 4px 0;
    }
  }
}

//post-show//
.post-detail {
  padding: 3em;
  background: white;
  border-top: solid 3px #69821b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
  .img {
    width: 250px;
    height: 250px;
  }
  object-fit: cover; //画像が潰れないように//
  tbody th {
    width: 24%;
    td {
      padding: 5px 0;
      line-height: 2;
    }
  }
  .favorite {
    padding: 10px 0;
  }
  .comment th {
    width: 0;
  }
  .comment td{
    padding: 10px 10px 20px 0;
  }
}
@media screen and (max-width: 1439px) {
  .post-image{
    display: flex;
  }
  .post-index tbody th {
    width: 25%;
  }
}

//post-form//
.form {
  margin-top: 20px;
  dd {
    margin-bottom: 20px;
  }
}


//members//
.profile-img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
}
.profile-text {
  margin-top: 15px;
  margin-bottom: 15px;
  line-height: 1.7;
}
.profile-menu {
  margin: 30px 0;
  table th {
    padding-right: 15px;
  }
}

//event//

.event-area {
  margin-bottom: 30px;
  .event {
    margin-bottom: 10px;
    .event-content {
      margin-bottom: 30px;
      tbody td {
        padding: 7px 0;
        line-height: 1.5;
      }
    }
  }
}
.event-name{
  font-size: 15px;
}
.season-link-s{
  margin-top: 30px;
  padding: 30px;
}
  ul{
    margin: 0;
    padding: 0;
    list-style: none;
  }
    .season-link-s ul li a {
      height: 40px;
      width: 40px;
      margin-left: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      white-space: nowrap;
      background-color: #f6bfbc;
      text-decoration: none;
      float: left;
    }

//admin//
.event-field img {
  width: auto;
  object-fit: cover;
}
.admin table {
  margin: 30px 0;
  tr {
    border-bottom: solid 1px #eee;
    cursor: pointer;
    th,td {
      width: auto;
      padding: 15px 0;
    }
  }
}
.simple-calendar .table {
  margin-top: 0;
}

// sidebar //
.navbar-fixed-left {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1030;
}
@media (min-width: 768px) {
  .navbar-fixed-left {
    width: 250px;
    height: 100vh;
    border-radius: 0;
  }
  .navbar-fixed-left .container,{
    padding-right: 0;
    padding-left: 0;
    width: auto;
  }
  .navbar-fixed-left .navbar-header {
    float: none;
    padding-left: 15px;
    padding-right: 15px;
  }
  .navbar-fixed-left .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
    max-height: none;
  }
  .navbar-fixed-left .navbar-collapse .navbar-nav {
    float: none !important;
  }
  .navbar-fixed-left .navbar-collapse .navbar-nav > li {
    width: 100%;
  }
  .navbar-fixed-left .navbar-collapse .navbar-nav > li.dropdown .dropdown-menu {
    top: 0;
  }
  .navbar-fixed-left .navbar-collapse .navbar-nav.navbar-right {
    margin-right: 0;
  }
  .navbar-logo img {
    padding-top: 25px;
    width: 250px;
  }
  .navbar-fixed-left {
    right: auto !important;
    left: 0 !important;
    border-width: 0 1px 0 0 !important;
  }
  .navbar-fixed-left .dropdown .dropdown-menu {
    left: 100%;
    right: auto;
    border-radius: 0 3px 3px 0;
  }
  .navbar-fixed-left .dropdown .dropdown-toggle .caret {
    border-top: 4px solid transparent;
    border-left: 4px solid;
    border-bottom: 4px solid transparent;
    border-right: none;
  }
}

@media (max-width: 768px) {
  .navbar {
    background-color: #fff;
  }
  .navbar-logo img {
    padding: 10px 0 0 10px;
    width: 210px;
  }
  .navbar-toggle {
    position: relative;
    float: right;
    margin-right: 15px;
    margin-top: 20px;
    margin-bottom: 8px;
    background-image: none;
    border-radius: 4px;
  }
  .navbar span {
    border: 1px solid #69821b;
  }
  .navbar-collapse {
    background-color: #fff;
  }
}

footer {
  margin: 100px 0 50px 0;
  text-align: center;
}
